@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 1.05em;
  box-sizing: border-box;
  font-family: Montserrat;
}

header,
footer {
  user-select: none;
  --webkit-user-select: none;
}

header {
  padding: 10px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: #333333;
}

footer {
  color: #cccccc;
  font-weight: 500;
  text-align: center;
}

p,
h1 {
  line-height: 160%;
  user-select: none;
  margin-bottom: 15px;
  --webkit-user-select: none;
}

input {
  padding: 10px;
  font-size: 0.9em;
  border-right: none;
  border: 1px solid #dadada;
}

input::placeholder {
  user-select: none;
  --webkit-user-select: none;
}

button {
  border: none;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  font-size: 0.9em;
  user-select: none;
  --webkit-user-select: none;
  background-color: #0a56ea;
}

input,
button {
  height: 47px;
}

label {
  display: block;
  font-weight: 500;
  user-select: none;
  margin-bottom: 10px;
  --webkit-user-select: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-v-center {
  justify-content: center;
}

.flex-h-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

.checkbox {
  margin-right: 10px;
}

.todos {
  margin-bottom: 20px;
}

.todo {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
}

.form {
  width: 100%;
  margin-bottom: 40px;
}

.radio {
  margin: 0;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
}

.radio input {
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-description {
  font-size: 0.9em;
  margin-left: 10px;
}

.radio .slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  background-color: #dadada;
}

.radio .slider:before {
  transition: 0.4s;
  position: absolute;
  background-color: transparent;
}

.radio .slider.round {
  border-radius: 5px;
}

.radio.blue input:checked + .slider {
  background-color: #0a56ea;
}

.radio input:checked + .slider:before {
  content: '\e876';
  font-size: 0.8em;
  color: #ffffff;
  font-family: 'Material Symbols Outlined';
}
